
<h1 class="text-center"> Pick your cocktail </h1>

<div class="container police">
  <div class="row">
    <% @cocktails.each do |r| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= link_to cocktail_path(r) do %>
          <%= render "card", cocktail: r %>
        <% end %>
        <%= link_to 'Show', cocktail_path(r), class: "btn btn-primary margin-top-5"%>
        <%= link_to 'Delete', cocktail_path(r), method: :delete, class: "btn btn-primary margin-top-5"%>
      </div>
    <% end %>
  </div>
</div>

<%= link_to 'New cocktail', new_cocktail_path, class: "btn btn-primary", id: "new_cocktail_btn" %>

