<div class =" text-center">
  <h1><%= @cocktail.name %> </h1>
  <%= cl_image_tag(@cocktail.photo, effect:"sepia:80", height: 300, width: 400, crop: :fill) %>
<!-- @cocktail.name donne le nom
  @cocktail.doses donne les objets doses liés à ce cocktail grâce à has many -->
  <% @cocktail.doses.each do |x| %>
  <li> <%= x.description %> <%= x.ingredient.name %> </li>
  <% end %>

  <br>
  <br>

  <%= simple_form_for([@cocktail, @dose]) do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient, collection: Ingredient.all%>
  <%= f.button :submit %>
  <% end %>


</div>
